@tailwind base;
@tailwind components;
@tailwind utilities;
@import "open-props/style";
@import "open-props/normalize";
@import "open-props/buttons";

:root {
  color-scheme: light;

  --brand: var(--indigo-6);
  --link: var(--indigo-6);

  --background: var(--surface-1);
  --background-contrast: var(--text-1);

  --background-gradient-1: var(--gradient-3);
  /* --border: var(--stone-9); */

  --text-primary: var(--text-1);
  --text-primary-contrast: var(--surface-2);
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;

    --brand: var(--indigo-6);
    --link: var(--indigo-6);

    --background: var(--surface-1);
    --background-contrast: var(--text-1);

    /* --background-gradient-1: var(--gradient-3); */
    /* --border: var(--stone-1); */

    --text-primary: var(--text-1);
    --text-primary-contrast: var(--surface-2);
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background
  }
}

@media (--highContrast) {
  :root {
    --background-gradient-1: var(--surface-1);
  }
}

/* :focus-visible { 
  outline-color: var(--brand);
} */